# Crunchtime Configuration (from Project-CT)
CT_ENV=test
CRUNCHTIME_LOCATION_TOKEN_TEST=<token>
CRUNCHTIME_HIERARCHY_TOKEN_TEST=<token>
CRUNCHTIME_VENDOR_TOKEN_TEST=<token>
CRUNCHTIME_VENDOR_LOCATION_TOKEN_TEST=<token>
sitename=<site>
userid=<user>
password=<password>

# Public Holidays API
API_NINJAS_KEY=<key>
